# Core Dependencies
melee>=0.41.1
python-dotenv
torch
torchvision
torchaudio
pandas
numpy
scikit-learn
scipy
tqdm

# Development & Notebook Tools
ipykernel
ipython
jupyter_client
jupyter_core
matplotlib
matplotlib-inline

# Utilities
colorama
psutil
requests
py-slippi
peppi-py
pyserial
inflection
asttokens
executing
pure-eval
stack-data
traitlets
debugpy
